USE [master]
GO
/****** Object:  Database [Saqib]    Script Date: 26/1/2023 9:40:41 AM ******/
CREATE DATABASE [Saqib]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Saqib', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Saqib.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Saqib_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Saqib_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Saqib].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Saqib]
GO
/****** Object:  Table [dbo].[student]    Script Date: 26/1/2023 9:40:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [int] NULL,
	[name] [varchar](20) NULL,
	[major] [varchar](20) NULL
) ON [PRIMARY]
GO
USE [master]
GO
